.nav-Link {
  margin-right: 20px;
  color: white;
}

.py-4 {
  padding-bottom: 0rem ;
}

.typingeffect {
  font-family: 'Segoe UI';
  font-size: 2.5rem;
  margin-left: 22rem;
}

body{
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:white;
}

.container{
  display:flex;
  align-items:center;
  justify-content:center;
  height:75vh;
  width:100%;
}

.form-box{
  width:380px;
  height:250px;
  background-color:black;
  padding:20px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  opacity:0.5;
  border-radius:2%;
}

.header-form{
  margin-bottom:15px;
}
button{
  margin-top:40px;
  margin-bottom:10px;
}
.message{
  display:flex;
  justify-content:space-between
}